body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: azure;
}

.selecaoMenuSuperior {
    background: gray;
    color: white;
}   
article h1 {
    text-align: center;
}
article h2 {
    text-align: center;
    padding-top: 20px;
}
p {
    padding-left: 5px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 1.3em;
    margin-top: 50px;
}
.printProjetos {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.multifotos {
    float: left;
    padding: 5px;
   
}
.limpeza {
    display: block;
    clear: both;
    width: 205px;
}
.linksProjetos {
    padding: 8px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    border: 3px solid gray;
    background-color: blanchedalmond;
}
.linksProjetos a {
    margin-bottom: auto;
    

}
footer{
    margin-top: auto;
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
    color: white;
    text-align: center;
}
#contato {
    width: 100%;
    
    font-weight: bold;
    font-size: 1.2em;
    justify-content: center;
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
}

.box {
    max-height: 250px;
}
