body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: azure;
}
header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

#logoCabecalho {
    width: 600px;
  
}

nav {
    list-style: none;
    background-color: antiquewhite;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
    nav li {
        display: inline-block;
        position: relative;
        padding-left: 20px;
        text-decoration: none;  
    }

nav li a {
    font-weight: bold;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;  
}
    

article h1 {
    text-align: center;
}

article h2 {
    text-align: center;
    padding-top: 20px;
}

p {
    padding-left: 5px;
    font-size: 1.3em;
}



.printProjetos {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.linksProjetos {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    border: 3px solid gray;
    background-color: blanchedalmond;
}

footer{
    margin-top: auto;
}

#contato {
    width: 100%;
  
    font-weight: bold;
    font-size: 1.2em;
    justify-content: center;
    background-color: antiquewhite;
    padding: 30px;
    text-align: center;
}