body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: azure;
}
header {
    
}

nav {
    list-style: none;
    background-color: #1c1b19;
    padding: 15px;
    text-align: right;
    text-decoration: none;

}
    nav li {
        display: inline-block;
        position: relative;
        padding-left: 5px;
        text-decoration: none;  
    }
nav li a {
    color: #edeae4;
    display: block;
    padding: 10px;
    text-decoration: none;  
}
nav li a:hover {
    color: gray;
}
.selecaoMenuSuperior {
   color: darkgray;
}   

article h1 {
    text-align: center;
}
article h2 {
    text-align: center;
    padding-top: 20px;
}
p {
    padding-left: 5px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 1.3em;
    margin-top: 50px;
}
.printProjetos {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.multifotos {
    float: left;
    padding: 5px;
   
}
.limpeza {
    display: block;
    clear: both;
    width: 205px;
}
.linksProjetos {
    padding: 8px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    border: 3px solid gray;
    background-color: blanchedalmond;
}
.linksProjetos a {
    margin-bottom: auto;
    

}
footer{
    margin-top: auto;
    padding-top: 15px;
}
#rodape {
    width: 100%;
    color: #edeae4;
    font-weight: bold;
    font-size: 1.2em;
    justify-content: center;
    background-color:  #1c1b19;
    padding: 20px;
    text-align: center;
}
